.title {
    color: blue;
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.btn {
    margin-top: 3px;
    margin-left: auto;
    padding: 5px;

    border-radius: 5px;
    border-color: brown;

    font-weight: 700;
}

.btn:hover {
    background-color: coral;
}
